/* ************  Design 2 *************** */
.front_menu_cont  .des2_block{
	float:left;
	width:200px;
	margin:0px 10px 10px 0px;
	min-height: 200px;

}
.front_menu_cont  .des2_block .des2_front_title a{
	text-decoration:none;
}
.front_menu_cont  .des2_block a, .front_menu_cont  .des2_block a:hover, .front_menu_cont  .des2_block a:visited, .front_menu_cont  .des2_block a:active{
	color:#000;
}

.front_menu_cont  .des2_menu_title{
	clear:both;
	font-weight:bold;
	margin:30px 0px 10px 0px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}
.front_menu_cont  .des2_data_block .des2_front_title{
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des2_block .des2_feat_icon{
	cursor:pointer;

	margin-right:10px;

	padding: 2px;
	border: solid 1px #EFEFEF;
}
.front_menu_cont  .des2_block .des2_feat_icon:hover{
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.front_menu_cont  .des2_block .des2_price_block{
	float:right;
	font-size: 20px;
	color: red;
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des2_block .des2_old_price{
	font-size: 12px;
	text-align:right;
}
.front_menu_cont  .des2_block .short_description{
	font-size:12px;
	color:#444;
	font-family: "Trebuchet MS";
}
/* ************  Design 2 END *************** */

/* ************  Design 3  *************** */

.front_menu_cont  .des3_block{
	float:left;
	widt1h:200px;
	margin:0px 10px 10px 0px;
	position:relative;
	overflow:hidden;
}
.front_menu_cont  .des3_block a, .front_menu_cont  .des3_block a:hover, .front_menu_cont  .des3_block a:visited, .front_menu_cont  .des3_block a:active{
	color:#fff;
}
.front_menu_cont  .des3_menu_title{
	clear:both;
	font-weight:bold;
	margin:30px 0px 10px 0px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}
.front_menu_cont  .des3_dish_descr{
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des3_block .des3_feat_icon{
	cursor:pointer;

	margin-right:10px;
	margin-bottom:10px;
	padding: 2px;
	border: solid 1px #EFEFEF;
}
/*
.front_menu_cont  .des3_block .des3_feat_icon:hover{
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
*/

.front_menu_cont  .des3_block .des3_price_block{
	float:right;
}
.front_menu_cont  .des3_dish_descr{
	position:absolute;
	top: 20px;
	left: 5px;
	width: 180px;
	background:rgba( 0, 0, 0, 0.5 );
	color:#fff;
	padding:5px;
	1display:none;

}
.front_menu_cont  .des3_price_block .des3_old_price{
	font-size: 12px;
	text-align:right;
}

.front_menu_cont  .des3_block .des3_feat_icon:hover{
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
.front_menu_cont  .des3_block .des3_feat_icon{
	cursor:pointer;

	margin-right:10px;

	padding: 2px;
	border: solid 1px #EFEFEF;
}
.front_menu_cont  .des3_block .short_description{
	font-size:12px;
	color:#fff;
	font-family: "Trebuchet MS";
}
/* ************  Design 3 END  *************** */

/* ************  Design 4  *************** */

.front_menu_cont  .des4_block{
	float:left;
	width:150px;
	margin:0px 10px 20px 0px;
	position:relative;
}
.front_menu_cont  .des4_block .des4_front_title a{
	text-decoration:none;
}
.front_menu_cont  .des4_block a, .front_menu_cont  .des4_block a:hover, .front_menu_cont  .des4_block a:visited, .front_menu_cont  .des4_block a:active{
	color:#000;
}

.front_menu_cont  .des4_menu_title{
	clear:both;
	font-weight:bold;
	margin:30px 0px 10px 0px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}
.front_menu_cont  .des4_data_block .des4_front_title{
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des4_block .des4_feat_icon{
	cursor:pointer;

	margin-right:10px;

	padding: 2px;
	border: solid 1px #EFEFEF;
}
.front_menu_cont  .des4_block .des4_feat_icon:hover{
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.front_menu_cont  .des4_block .des4_price_block{
	position:absolute;
	right:0px;
	top:0px;
	font-size: 20px;
	color: red;
	font-family: "Trebuchet MS";
	padding:7px;
	background:rgba(255,255,255,0.7);
	-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-left-radius: 15px;
}
.front_menu_cont  .des4_block .des4_old_price{
	font-size: 12px;
	text-align:right;
}
.front_menu_cont  .des4_block .short_description{
	font-size:12px;
	color:#444;
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des4_block  .des4_front_feature{
	position:absolute;
	top:0px;
	left:0px;
	padding:5px;
	width:10px;
}
.front_menu_cont  .des4_block  .des4_front_feature img{
	float:none;
}
/* ************  Design 4 END  *************** */

/* ************  Design 5 *************** */
.front_menu_cont  .des5_block{
	float:left;
	margin:0px 10px 10px 0px;
	border: 1px solid #d9d9d9;
	padding:5px;
	width: 220px;
	min-height:250px;
	
}
.front_menu_cont  .hover_block{
	position:relative;
}
.front_menu_cont  .hover_block img{
	max-width: 100%;
}
.front_menu_cont  .des5_block .des5_front_title a{
	text-decoration:none;
}
.front_menu_cont  .des5_block a, .front_menu_cont  .des5_block a:hover, .front_menu_cont  .des5_block a:visited, .front_menu_cont  .des5_block a:active{
	color:#000;
}

.front_menu_cont  .des5_menu_title{
	clear:both;
	font-weight:bold;
	margin:30px 0px 10px 0px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}
.front_menu_cont  .des5_data_block .des5_front_title{
	font-family: "Trebuchet MS";
}
.1front_menu_cont  .des5_block .des5_feat_icon{
	cursor:pointer;

	margin-right:10px;

	padding: 2px;
	border: solid 1px #EFEFEF;
}
.1front_menu_cont  .des5_block .des5_feat_icon:hover{
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.front_menu_cont  .des5_block .des5_price_block{
	float:right;
	font-size: 20px;
	color: red;
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des5_block .des5_old_price{
	font-size: 12px;
	text-align:right;
}
.front_menu_cont  .des5_block .short_description{
	font-size:12px;
	color:#444;
	font-family: "Trebuchet MS";
	position:absolute;
	bottom:0px;
	left:0px;
	padding:10px;
	background: rgba( 255, 255, 255, 0.8 );
	display:none;
	
}
.front_menu_cont  .des5_block .short_description:hover{
	display:block;
}

.front_menu_cont  .des5_block .des5_front_feature{
	position:absolute;
	top:0px;
	right:0px;
	background: rgba( 255, 255, 255, 0.7 );
	padding:5px;
}
/* ************  Design 5 END *************** */

/* ************  Design 6 *************** */
.front_menu_cont  .des6_block{
	float:left;
	width:200px;
	margin:0px 10px 20px 0px;
	position:relative;
	min-height:250px;
}
.front_menu_cont  .des6_block .des6_front_title a{
	text-decoration:none;
}
.front_menu_cont  .des6_block a, .front_menu_cont  .des6_block a:hover, .front_menu_cont  .des6_block a:visited, .front_menu_cont  .des6_block a:active{
	color:#000;
}

.front_menu_cont  .des6_menu_title{
	clear:both;
	font-weight:bold;
	margin:30px 0px 10px 0px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}
.front_menu_cont  .des6_data_block .des6_front_title{
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des6_block .des6_feat_icon{
	cursor:pointer;

	margin-right:10px;

	padding: 2px;
	border: solid 1px #EFEFEF;
}
.front_menu_cont  .des6_block .des6_feat_icon:hover{
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.front_menu_cont  .des6_block .des6_price_block{
	font-size: 20px;
	color: #fff;
	font-family: "Trebuchet MS";
	position:absolute;
	top:10px;
	right:2px;
	padding:2px 5px;
	background:#f00;
}
.front_menu_cont  .des6_block .des6_old_price{
	font-size: 12px;
	text-align:right;
}
.front_menu_cont  .des6_block .short_description{
	font-size:12px;
	color:#444;
	font-family: "Trebuchet MS";
}
/* ************  Design 6 END *************** */


/* ************  Design 7 *************** */
.front_menu_cont  .des7_block{
	width: 290px;
margin-bottom: 10px;

float: left;
border-bottom: 1px #ccc dashed;
padding-bottom: 10px;
margin-right: 40px;
min-height: 150px;
}
.front_menu_cont  .left_block{
	width:85px;
	float:left;
	margin-right:20px;
}
.front_menu_cont  .des7_block .des7_front_title a{
	text-decoration:none;
}
.front_menu_cont  .des7_block a, .front_menu_cont  .des7_block a:hover, .front_menu_cont  .des7_block a:visited, .front_menu_cont  .des7_block a:active{
	color:#000;
}

.front_menu_cont  .des7_menu_title{
	clear:both;
	font-weight:bold;
	margin:30px 0px 10px 0px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}
.front_menu_cont  .des7_data_block{
	float:left;
	width: 60%;
}
.front_menu_cont  .des7_data_block .des7_front_title{
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des7_block .des7_feat_icon{
	cursor:pointer;

	margin-right:10px;

	padding: 2px;
	border: solid 1px #EFEFEF;
}
.front_menu_cont  .des7_block .des7_feat_icon:hover{
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.front_menu_cont  .des7_block .des7_price_block{

	text-align: center;
padding: 6px 0px;
background-color: #d7212e;
color: #ffffff;
font-size: 14px;
line-height: 14px;
z-index: 3;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Trebuchet MS";
}
.front_menu_cont  .des7_block .des7_old_price{
	font-size: 11px;
	margin:5px 0px;

}
.front_menu_cont  .des7_block .short_description{
	font-size:12px;
	color:#444;
	font-family: "Trebuchet MS";
}
.front_menu_cont{
	width: 700px;
}
/* ************  Design 7 END *************** */
